<footer class="govuk-footer footer-bottom" role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link" asp-controller="Home" asp-action="Cookies">Cookies</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link" asp-controller="Home" asp-action="Accessibility">Accessibility statement</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>