<header role="banner" data-module="govuk-header">
 <div class="nidirect-header">
     <div class="govuk-width-container flex-parent">
         <div class="nidirect-header__logo">
             <h2>DE Exceptional Closures</h2>
             <span class="govuk-visually-hidden">DE Exceptional Closures</span>
         </div>
         <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
         <nav role="navigation" aria-label="Top Level Navigation" data-html2canvas-ignore="true">
             <ul id="navigation" class="govuk-header__navigation nidirect-header__navigation">
                  <partial name="_LoginPartial" />
             </ul>
         </nav>
     </div>
 </div>
 <div class="nidirect-servicename-container">
  <div class="govuk-width-container">
   <span class="govuk-body govuk-!-font-size-27 nidirect-servicename">@ViewBag.ServiceName</span>
  </div>
 </div>     
</header>