
<header role="banner" data-module="govuk-header">
    <div class="nidirect-header">
        <div class="govuk-width-container flex-parent">
            <div class="nidirect-header__logo">
                <h2>Exceptional Closures</h2>
                <span class="govuk-visually-hidden">Exceptional Closures</span>
            </div>
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            <nav role="navigation" aria-label="Top Level Navigation" data-html2canvas-ignore="true">
     
                <partial name="_LoginPartial" />
            </nav>
        </div>
    </div>
    <div class="nidirect-servicename-container">
        <div class="govuk-width-container">
            <span class="govuk-body govuk-!-font-size-27 nidirect-servicename">Institution Portal</span>
        </div>
    </div>
</header>