@model de_exceptional_closures.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-controller="Home">
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(i => i.IsSingleDay)*@
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

                <partial name="../Components/_errorSummary.cshtml" />

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">@Model.TitleTagName</h1>
                        </legend>
                        <span asp-validation-for="IsSingleDay" class="govuk-error-message"></span>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                @if (Model.IsSingleDay != null && Model.IsSingleDay.Value == true)
                                {
                                    <input class="govuk-radios__input" id="IsSingleDay" name="IsSingleDay" asp-for="IsSingleDay" type="radio" value=true checked>
                                }
                                else
                                {
                                    <input class="govuk-radios__input" id="IsSingleDay" name="IsSingleDay" asp-for="IsSingleDay" type="radio" value=true>
                                }

                                <label class="govuk-label govuk-radios__label" for="IsSingleDay">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                @if (Model.IsSingleDay != null && Model.IsSingleDay.Value == false)
                                {
                                    <input class="govuk-radios__input" id="IsSingleDay-No" name="IsSingleDay" asp-for="IsSingleDay" type="radio" value=false checked>
                                }
                                else
                                {
                                    <input class="govuk-radios__input" id="IsSingleDay-No" name="IsSingleDay" asp-for="IsSingleDay" type="radio" value=false>
                                }
                                <label class="govuk-label govuk-radios__label" for="IsSingleDay-No">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <input type="submit" value="Continue" name="save" class="govuk-button" data-module="govuk-button" />
            </div>
        </div>
    </div>
</form>