@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
            </div>
        </div>
        </div>
    </main>