@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
            <p class="govuk-body">This account has been locked out, please try again later.</p>
            </div>
        </div>
</div>