@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>

                <div asp-validation-summary="None" class="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                        </ul>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Input.Email" class="govuk-label"></label>
                    <input asp-for="Input.Email" class="govuk-input" />
                    <span asp-validation-for="Input.Email" class="govuk-error-message"></span>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Input.Password" class="govuk-label"></label>
                    <input asp-for="Input.Password" class="govuk-input" />
                    <span asp-validation-for="Input.Password" class="govuk-error-message"></span>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Input.ConfirmPassword" class="govuk-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="govuk-input" />
                    <span asp-validation-for="Input.ConfirmPassword" class="govuk-error-message"></span>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Register</button>
            </form>
    
            </div>
        </div>
    </div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
