@model de_exceptional_closures.ViewModels.Closure.EditDateFromViewModel
@{
    ViewData["Title"] = "EditDateFrom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="EditDateFrom" asp-controller="Closure" method="post" id="approvalForm">
    @Html.AntiForgeryToken()
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <a href="@Url.Action("Edit","Closure", new { id = Model.Id })" class="govuk-back-link">Back</a>

                <partial name="../Components/_errorSummary.cshtml" />

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                From what date did you close, or plan to close, @Model.InstitutionName?
                            </h1>
                        </legend>
                        <div id="passport-issued-hint" class="govuk-hint">
                            For example, 22 1 2021
                        </div>
                        <span asp-validation-for="DateFrom" class="govuk-error-message"></span>
                        <div class="govuk-date-input" id="StartDate">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DateFromDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateFromDay"
                                           type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                                    <span asp-validation-for="DateFromDay" class="govuk-error-message"></span>
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DateFromMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateFromMonth"
                                           type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                                    <span asp-validation-for="DateFromMonth" class="govuk-error-message"></span>
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DateFromYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="DateFromYear"
                                           type="text" maxlength="4" pattern="[0-9]*" inputmode="numeric">
                                    <span asp-validation-for="DateFromYear" class="govuk-error-message"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <input type="submit" value="Save and return" name="save" class="govuk-button" data-module="govuk-button" />
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function ()
    {
        // if page has errors
        if ($(".error-items").length > 0)
        {
            // for each error in summary
            $(".error-items").each(function ()
            {
                // grab the id and text
                let id = $(this).attr('href');

                //// if id is #DateOfBirth then swap href to point to day and change styles to error styles.
                if (id == "#DateFrom")
                {
                    $(this).attr('href', '#DateFromDay');
                    $('#DateFromDay').parent().css("padding-left", "15px");
                    $('#DateFromDay').parent().css("border-left", "5px solid #d4351c");

                    $('#DateFromDay').css("border", "4px solid #d4351c");
                    $('#DateFromMonth').css("border", "4px solid #d4351c");
                    $('#DateFromYear').css("border", "4px solid #d4351c");
                }


            })
        }
    });
</script>

