@model de_exceptional_closures.ViewModels.Closure.SubmittedViewModel
@{
    ViewData["Title"] = "Submitted";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Exceptional closure submitted
                </h1>
            </div>

            <p class="govuk-body">We have sent you a confirmation email.</p>

            <h2 class="govuk-heading-m">What happens next</h2>

            @if (Model.ApprovalTypeId == 1)
            {
                <p class="govuk-body">
                    Thank you for the below request for an exceptional closure. Your request has been approved. Your request has been forwarded to the Tackling Educational
                    Disadvantage team in the Department of Education.
                </p>
            }
            else
            {
                <p class="govuk-body">
                    Your request has been forwarded to the appropriate team in the Department of Education for consideration. A response will issued as soon as possible.
                </p>
            }

            <div class="govuk-button-group">
                <a href="@Url.Action("MyClosures", "Closure")" class="govuk-button govuk-button--secondary"> Go to my closures</a>
            </div>
        </div>
       </div>
</main>