@model de_exceptional_closures.ViewModels.BaseViewModel
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <a asp-controller="Home" asp-action="Index" class="govuk-back-link">Back</a>

            <h1 class="govuk-heading-l">@Model.TitleTagName</h1>
            <p class="govuk-body">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>