@model de_exceptional_closures.ViewModels.Account.ForgotPassWordViewModel
@{
    ViewData["Title"] = "Reset password ";
}

<a asp-controller="Home" asp-action="Index" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-width-container">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Reset password</h1>
                <form method="post" asp-controller="Account" asp-action="ForgotPassword">

                    <partial name="../Components/_errorSummary.cshtml" />

                    <p class="govuk-inset-text">
                        Please enter your email to reset your password
                    </p>
                    <div class="govuk-form-group">
                        <label asp-for="Email" class="govuk-label govuk-label--s"></label>
                        <span asp-validation-for="Email" id="Email-error" class="govuk-error-message"></span>
                        <input asp-for="Email" class="govuk-input" />
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                </form>
            </div>

        </div>
    </div>
</main>