@model de_exceptional_closures.ViewModels.Account.ForgotPassWordViewModel 
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <a asp-controller="Home" asp-action="Index" class="govuk-back-link">Back</a>

            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
            <form method="post" asp-controller="Account" asp-action="ForgotPassword">
   
                <partial name="../Components/_errorSummary.cshtml" />

                <p class="govuk-inset-text">
                    Please select the Captcha check to make sure you are a human
                </p>
                <div class="govuk-form-group">
                    <label asp-for="Email" class="govuk-label"></label>
                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    <input asp-for="Email" class="govuk-input" />
                </div>

     

                <button type="submit" class="govuk-button" data-module="govuk-button">Submit</button>
            </form>
        </div>
    </div>
</div>