
@{
    ViewData["Title"] = "RegisterConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

            <p class="govuk-body">
                Please check your email to confirm your account.
            </p>
        </div>
    </div>
</div>