
@{
    ViewData["Title"] = "RegisterConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">Register confirmation</h1>

                    <p class="govuk-body">
                        Please check your email to confirm your account.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </main>