/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*  Task List */
.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .app-task-list {
        min-width: 550px;
    }
}

.app-task-list__section {
    display: table;
    font-family: arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
}

@media print {
    .app-task-list__section {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__section {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

@media print {
    .app-task-list__section {
        font-size: 18pt;
        line-height: 1.15;
    }
}

.app-task-list__section-number {
    display: table-cell;
}

@media (min-width: 40.0625em) {
    .app-task-list__section-number {
        width: 30px;
        padding-right: 0;
    }
}

.app-task-list__items {
    font-family: arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
}

@media print {
    .app-task-list__items {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .app-task-list__items {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        margin-bottom: 60px;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        padding-left: 30px;
    }
}

.app-task-list__item {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .app-task-list__item:after {
        content: "";
        display: block;
        clear: both;
    }

    .app-task-list__item:first-child {
        border-top: 1px solid #b1b4b6;
    }

.app-task-list__task-name {
    display: block;
}

@media (min-width: 28.125em) {
    .app-task-list__task-name {
        float: left;
    }
}

.app-task-list__tag,
.app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (min-width: 28.125em) {
    .app-task-list__tag,
    .app-task-list__task-completed {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.app-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}

    .app-related-items .govuk-list > li {
        margin-bottom: 10px;
    }

.govuk-notification-banner__content {
    padding: 20px;
}

.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}

.govuk-notification-banner {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}

.govuk-notification-banner {
    font-family: arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #0d3f66;
    background-color: #0d3f66;
}

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid transparent;
}

.govuk-notification-banner__title {
    font-family: arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}

.govuk-notification-banner__heading {
    font-family: arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin: 0 0 15px 0;
    padding: 0;
}

/* Fix checkboxes*/
.govuk-checkboxes__label::before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    background: transparent;
}

.govuk-checkboxes__label::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 8px;
    width: 24px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
}

header .nidirect-header {
    background-color: #0d3f66;
    color: #ffffff;
}

.nidirect-servicename-container .nidirect-servicename {
    color: #0d3f66;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.link-input-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.link-input-button:hover 
{
    color: #ffffff;
    text-decoration: underline;
}

.link-input-button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    -webkit-box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
}

@media all and (max-width:576px) {
    .table-hide-Column {
        display: none !important;
    }
}
