@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


            <div asp-validation-summary="None" class="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var modelStateKey in ViewData.ModelState.Keys)
                        {
                            var modelStateVal = ViewData.ModelState[modelStateKey];
                            foreach (var error in modelStateVal.Errors)
                            {
                                <li>
                                    <a class="error-items" href="#@modelStateKey.Replace(".", "_")">@error.ErrorMessage</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>


            <h2>@ViewData["Title"]</h2>
            <partial name="_StatusMessage" for="StatusMessage" />

            <form id="change-password-form" method="post">
                <div class="govuk-form-group @(ViewData.ModelState["Input.OldPassword"] != null && ViewData.ModelState["Input.OldPassword"].Errors.Any()
                                                ? " govuk-form-group--error" : "")">
                    <label asp-for="Input.OldPassword" class="govuk-label govuk-label--s"></label>
                    <span asp-validation-for="Input.OldPassword" id="Input_OldPassword-error" class="govuk-error-message"></span>
                    <input asp-for="Input.OldPassword" class="govuk-input" />
                </div>

                <div class="govuk-form-group @(ViewData.ModelState["Input.NewPassword"] != null && ViewData.ModelState["Input.NewPassword"].Errors.Any()
                                                ? " govuk-form-group--error" : "")">
                    <label asp-for="Input.NewPassword" class="govuk-label govuk-label--s"></label>
                    <span asp-validation-for="Input.NewPassword" id="Input_NewPassword-error" class="govuk-error-message"></span>
                    <input asp-for="Input.NewPassword" class="govuk-input" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Input.ConfirmPassword" class="govuk-label govuk-label--s"></label>
                    <span asp-validation-for="Input.ConfirmPassword" id="Input_ConfirmPassword-error" class="govuk-error-message"></span>
                    <input asp-for="Input.ConfirmPassword" class="govuk-input" />
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Update password</button>
            </form>

        </div>
    </div>
</div>


            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
