@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2>@ViewData["Title"]</h2>
            <partial name="_StatusMessage" for="StatusMessage" />
         
            <form id="change-password-form" method="post">
                <div asp-validation-summary="None" class="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                         
                        </ul>
                    </div>
                </div>

                <div class="govuk-form-group">
                    <label asp-for="Input.OldPassword" class="govuk-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="govuk-error-message"></span>
                    <input asp-for="Input.OldPassword" class="govuk-input" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Input.NewPassword" class="govuk-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="govuk-error-message"></span>
                    <input asp-for="Input.NewPassword" class="govuk-input" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Input.ConfirmPassword" class="govuk-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="govuk-error-message"></span>
                    <input asp-for="Input.ConfirmPassword" class="govuk-input" />
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Update password</button>
            </form>               
          
        </div>
    </div>
</div>


            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
