@page
@model EmailModel
@{
    ViewData["Title"] = "Manage email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2>@ViewData["Title"]</h2>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
           
                   <form id="email-form" method="post">
                        <div asp-validation-summary="None" class="govuk-error-summary">
                            <h2 class="govuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="govuk-label govuk-label--s"></label>
                            @if (Model.IsEmailConfirmed)
                            {
                                <div class="govuk-form-group">
                                    <input asp-for="Email" class="govuk-input" disabled />
                                </div>
                            }
                            else
                            {
                                <input asp-for="Email" class="govuk-input" disabled />
                                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                            }
                        </div>
                        <div class="govuk-form-group">
                            <label asp-for="Input.NewEmail" class="govuk-label govuk-label--s"></label>

                            <span asp-validation-for="Input.NewEmail" id="Input_NewEmail-error" class="govuk-error-message"></span>
                            <input asp-for="Input.NewEmail" class="govuk-input" />
                        </div>
                        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail"  class="govuk-button" data-module="govuk-button">Change email</button>
                    </form>
         
        
        </div>
    </div>
</div>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
