@page
@model de_exceptional_closures.Areas.Identity.Pages.Account.Manage.InstitutionModel
@{
    ViewData["Title"] = "School";
    ViewData["ActivePage"] = ManageNavPages.Institution;
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form id="institution" method="post">

                <div asp-validation-summary="None" class="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var modelStateKey in ViewData.ModelState.Keys)
                            {
                                var modelStateVal = ViewData.ModelState[modelStateKey];
                                foreach (var error in modelStateVal.Errors)
                                {
                                    <li>
                                        <a class="error-items" href="#@modelStateKey">@error.ErrorMessage</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>


                <partial name="_StatusMessage" for="StatusMessage" />

                <h2>Manage school</h2>

                <div class="govuk-form-group">
                    <div class="govuk-hint">
                        To find your school, enter a school name select find school.
                    </div>

                    <div class="govuk-form-group" id="InstituteSearchComponent">
                        <label class="govuk-label govuk-label--s" asp-for="Input.Search">
                            Search school
                        </label>
                        <span id="institutionError" class="govuk-error-message" style="display:none;">
                            <span class="govuk-visually-hidden">Error:</span> Institution not found
                        </span>

                        <input class="govuk-input govuk-input--width-20" asp-for="Input.Search" type="text">

                        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button" id="btnSearch" onclick="getSchools();">
                            Find school
                        </button>
                        <div id="loadSpinner" class="govuk-box-highlight" style="display:none;" role="status">
                            <span class="spinner-border"></span>
                            Loading, please wait
                        </div>
                    </div>
                </div>

                <div class="govuk-form-group" id="SearchInstitutionList" style="display:none;">
                    <label class="govuk-label" asp-for="Input.SearchInstitutions">
                        Select a school
                    </label>
                    <select class="govuk-select" asp-for="Input.SearchInstitutions" onchange="fillTextBoxes();">
                    </select>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" asp-for="Input.InstitutionName">School</label>
                    <span class="govuk-label" id="InstitutionNameLabel">@Model.Input.InstitutionNameLabel</span>
                    <input class="govuk-input" type="hidden" asp-for="Input.InstitutionName" />
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" asp-for="Input.InstitutionReference">School reference</label>
                    <span class="govuk-label" id="InstitutionReferenceLabel">@Model.Input.InstitutionReferenceLabel</span>
                    <input class="govuk-input" type="hidden" asp-for="Input.InstitutionReference" />
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button">Update school</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/GetInstitutions.js"></script>
    <partial name="_ValidationScriptsPartial" />
}