@page
@model de_exceptional_closures.Areas.Identity.Pages.Account.Manage.InstitutionModel
@{
    ViewData["Title"] = "Institution";
    //ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2>@ViewData["Title"]</h2>
          

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
